.header{
    width: 10%;
    height: 100vh;
    background-color:#201928;
    border-right: 5px solid #37323f;
}

                              /* Logo */

.logo__button{
    display: block;
    text-align: center;
    background-color: #008086;
    text-decoration: none;
    font-family: Arual;
    color: #ffffff;
    font-size: 35px;
    margin-bottom:10px ;
}

.logo__button:hover{
    color: #121220;
    transform: translate(5px, 0px);
    transition: transform .5s, color 0.5s;     
}