@font-face{
    font-family: Arual;
    src: url('./Fonts/Arual.ttf');
}
@font-face{
    font-family: Fontello;
    src: url('./Fonts/fontello.ttf');
}
@font-face{
    font-family: ExoMedium;
    src: url('./Fonts/exo2.0-medium.ttf');
}
@font-face{
    font-family: ExoMediumItalic;
    src: url('./Fonts/exo2.0-mediumitalic.ttf');
}
@font-face{
    font-family: ExoSemiBold;
    src: url('./Fonts/exo2.0-semibold.ttf');
}
@font-face{
    font-family: ExoSemiBoldItalic;
    src: url('./Fonts/exo2.0-semibolditalic.ttf');
}


.user__wrapper{
    display: flex;
    flex-direction: row;
}





